@font-face {
  font-family: "iconfont"; /* Project id 3138149 */
  src: url('iconfont.woff2?t=1641992660515') format('woff2'),
       url('iconfont.woff?t=1641992660515') format('woff'),
       url('iconfont.ttf?t=1641992660515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playing:before {
  content: "\e614";
}

.icon-play-left:before {
  content: "\e628";
}

.icon-play-right:before {
  content: "\e62a";
}

.icon-pause:before {
  content: "\e602";
}

